<html>
    <head>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>
<body>
    <div id="chart_div"></div>
    <div class="title">

    </div>
    
</body>
<script>
// google.charts.load('current', {'packages':['corechart']});
// google.charts.setOnLoadCallback(drawChart);
$.ajax({
    url: "/get-stock",
    type: "GET",
    success: function(data){
        var result = []
        data['etfItemList'].map((i)=>{
            $(".title").append("<li>" + i.itemname + " 현재가치 : " + i.nowVal + "</li>");
            result.push([i.itemname ,i.nowVal])
        })
        console.log(result)
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows(
            result
        );

        // Set chart options
        var options = {'title':'주식 시각화',
                        'width':400,
                        'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        }

    },
    error: function (request, status, error){
    }
});

</script>






</html>